{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2018",
    "baseUrl": "./",
    "paths": {
      "@controllers/*": ["src/controllers/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "resolveFully": true,
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "minify": false
}
